/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* GENERAL */
html {
	font-size: 62.5%;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(30, 38%, 92%);
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
}

/* CONTAINER */

.container {
	width: 55rem;
	display: flex;
	justify-content: center;
	border-radius: 1rem;
	margin: 11rem auto;
}

/* MAIN SECTION */
.main-section {
	padding: 2.4rem 0 2.6rem 2.4rem;
	background-color: #fff;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	flex: 1 1 0px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* IMAGE */

.desktop-img {
	flex: 1 1 0px;
	height: 40rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

@media (width > 375px) {
	.mobile-img {
		display: none;
	}

	.mobile {
		display: none;
	}
}

/* HEADER */

.title {
	color: hsl(228, 12%, 48%);
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-size: 1.2rem;
	text-shadow: #fff;
}

.title-text {
	color: hsl(212, 21%, 14%);
	font-family: "Fraunces", serif;
	font-size: 2.6rem;
	line-height: 1.1;
}

/* PRODUCT DESCRIPTION */

.description {
	color: hsl(228, 12%, 48%);
	line-height: 1.5;
}

/* PRODUCT PRICE */

.prices {
	display: flex;
	font-family: "Fraunces", serif;
	align-items: center;
	gap: 3.2rem;
}

.new-price {
	color: hsl(158, 36%, 37%);
	font-size: 2.6rem;
}

.old-price {
	color: hsl(228, 12%, 48%);
	text-decoration: line-through;
	font-size: 1.2rem;
}

/* ADD TO CART */

.cart {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(158, 36%, 37%);
	color: white;
	font-size: 1.4rem;
	font-weight: 900;
	border-radius: 1rem;
	border-width: 0;
	margin-right: 3.6rem;
	padding: 1.6rem 0;
}

.cart:hover {
	background-color: hsl(159, 41%, 20%);
	cursor: pointer;
}

.icon {
	margin-right: 1.2rem;
}

/* ---------------------------- */

/* MOBILE DESIGN */

@media (width <= 375px) {
	html {
		font-size: 62.5%;
		overflow-x: hidden;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		width: 32rem;
		margin: 3rem auto;
		border-width: 0;
	}

	.main-section {
		flex: 1 1 0px;
		border-radius: 0;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	.mobile-img {
		flex: 1 1 0px;
		height: 22.5rem;
		border-radius: 0;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.description {
		font-size: 1.2rem;
		margin-bottom: 2rem;
	}

	.cart {
		margin-right: 1.6rem;
	}

	.desktop-img {
		display: none;
	}

	.desktop {
		display: none;
	}
}
